.column {
    float: left;
    display: block;
    width: 48%;
    padding: 5px 5px;
    margin: 0px 0px 0px 15px
}

.playerName {
    margin: 5px 5px 5px 5px;
}

.playerName button {
    position: absolute;
    margin: 3px 3px 0px 5px;
}

.gameSquare {
    background-color: #1AE2FF;
    border: 1px solid black;
    column-count: 10;
    display: block;
    float: left;
    height: 25px;
    max-height: 25px;
    width: 9%;
}

.gameSquare span {
    display: inline-block;
    margin: 2px 20px;
    text-align: center;
    width: 49%;
}

.highlight {
    background-color: yellow;
}

.gameSquare:hover {
   cursor: pointer;
   background-color: rgba(211, 211, 211, 0.774);
   text-align: center;
}

.disabled:hover {
    cursor: not-allowed;
}

.shipList {
    float: left;
    display: block;
    margin: 10px 10px;
    padding: 5px 5px;
    border: 1px solid black;
    height: 100px;
    max-height: 100px;
    width: 50%;
}