<div style="text-align:center">
    <span>{{ gameService.turnMessage }}</span>
</div>
<div class="column">
    <div class="playerName">
        <span>Player 1</span>
        <button *ngIf="gameService.turn === 0 && gameService.isSetup && !this.gameService.startPlacement" (click)="cancelPlacement()" class="cancelPlacement">Cancel</button>
    </div>
    <div *ngFor="let cell of gameService.player1Gameboard.grid"
        class="gameSquare"
        [class.disabled]="(gameService.turn != 0 && gameService.isSetup) || (gameService.turn === 0 && !gameService.isSetup) || gameService.gameEnded"
        [class.highlight]="cell.highlight && gameService.isSetup && gameService.turn == 0"
        (click)="gameService.turn === 1 && !gameService.isSetup ? playerFire(cell) : null"
        (click)="gameService.turn === 0 && gameService.isSetup ? placeShip(cell) : null">
        <span *ngIf="cell.isChecked || gameService.gameEnded || (gameService.turn == 0 && gameService.isSetup)">{{cell.value}}</span>
        <span *ngIf="!gameService.gameEnded && !cell.isChecked && !gameService.isSetup || (gameService.isSetup && gameService.turn != 0)"></span>
    </div>
    <div class="shipList">
        <div *ngFor="let ship of gameService.player1Ships">
            <span>{{ship.name}}</span>
        </div>
    </div>
</div>
<div class="column">
        <div class="playerName">
            <span>Player 2</span>
            <button *ngIf="gameService.turn === 1 && gameService.isSetup && !this.gameService.startPlacement" (click)="cancelPlacement()">Cancel</button>
            
        </div>
        <div *ngFor="let cell of gameService.player2Gameboard.grid"
            class="gameSquare"
            [class.disabled]="(gameService.turn != 1 && gameService.isSetup) || (gameService.turn === 1 && !gameService.isSetup) || gameService.gameEnded"
            [class.highlight]="cell.highlight && gameService.isSetup && gameService.turn == 1"            
            (click)="gameService.turn === 0 && !gameService.isSetup ? playerFire(cell) : null"
            (click)="gameService.turn === 1 && gameService.isSetup ? placeShip(cell) : null">
            <span *ngIf="cell.isChecked || gameService.gameEnded || (gameService.turn == 1 && gameService.isSetup)">{{cell.value}}</span>
            <span *ngIf="!gameService.gameEnded && !cell.isChecked && !gameService.isSetup || (gameService.isSetup && gameService.turn != 1)"></span>
            </div>
        <div class="shipList">
            <div *ngFor="let ship of gameService.player2Ships">
                <span>{{ship.name}}</span>
            </div>
        </div>
    </div>