.column {
    float: left;
    width: 48%;
    padding: 10px 10px;
}
.gameSquare {
    float: left;
    width: 10%;
    column-count: 10;
    text-align: center;
}
.highlight {
    background-color: yellow;
}
.gameSquare:hover {
   cursor: pointer;
   background-color: lightgray 
}

.disabled:hover {
    cursor: not-allowed;
    background-color: transparent;
}

.shipList {
    padding: 10px 10px;
}